{% extends "base.html" %} {% load static %} {% block head %}
<title>МЕНЮ</title>
{% endblock%} {% block content %}
<main class="content">
  <div class="cards">
    {% for product in products %}
    <div class="card">
      <div class="card-title">{{product.name}}</div>
      <img class="card-img" src="{{product.photo.url}}" />
      <div class="munu">
        <button class="munu-bth">Добавить в корзину</button>
        <button class="munu-bth">Подробнее</button>
      </div>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock%}
