{% extends "base.html" %} {% load static %} {% block head %}
<title>О НАС</title>
{% endblock%} {% block content %}
<main class="content">
    <div class="cards">
        <div class="cards-holder">
            <div class="card">
                <div class="card-title">
                    История
                </div>
                <div class="card-desc">
                    Мы - небольшая кофейня,
                    которая была основана в 2015 году в центре города.
                    Наша история началась с простой идеи - создать место,
                    где люди могут наслаждаться высококачественным кофе и
                    проводить время в приятной атмосфере. С тех пор мы стали
                    любимым местом для многих жителей города и туристов,
                    которые ценят нашу качественную продукцию и дружелюбный сервис.
                </div>
            </div>
            <div class="card">
                <div class="card-title">
                    Миссия и ценности
                </div>
                <div class="card-desc">
                    Наша миссия заключается в том, чтобы создавать уютное и
                    гостеприимное место, где люди могут наслаждаться отличным
                    кофе, проводить время с друзьями или работать.
                    Мы стремимся предоставлять своим клиентам
                    высококачественную продукцию и удобный сервис.
                    Наша команда ценит качество и старается сделать все
                    возможное, чтобы каждый клиент остался довольным и
                    вернулся к нам вновь.
                </div>
            </div>
            <div class="card">
                <div class="card-title">
                    Наша команда
                </div>
                <div class="card-desc">
                    Мы гордимся нашей командой, которая состоит из
                    профессиональных бариста и опытных сотрудников,
                    которые умеют создавать уютную атмосферу и
                    внимательно относятся к каждому клиенту.
                    Наша команда стремится постоянно улучшать
                    свои навыки и знания, чтобы предоставлять
                    нашим клиентам наилучший сервис.
                </div>
            </div>

            <div class="card">
                <div class="card-title">
                    Наши кофейные напитки
                </div>
                <div class="card-desc">
                    В нашем меню вы найдете широкий выбор
                    кофейных напитков, которые приготовлены
                    из свежесмолотых зерен высокого качества.
                    Мы готовим кофе в различных вариантах -
                    от эспрессо и капучино до латте и американо.
                    Мы также предлагаем чаи, горячий шоколад и
                    другие напитки
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock%}