{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href=" {% static 'main/css/index.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo&family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@900&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>


<body>

<div class='header'>
    <div class='container'>
        <div class='header-line'>
            <div class='header-logo'>
                <img src="{% static 'main/img/logo2.png' %}">

            </div>

            <div class="nav">
                <a class='nav-item' href="/">ГЛАВНАЯ</a>
                <a class='nav-item' href="#">МЕНЮ</a>
                <a class='nav-item' href="about">О НАС</a>

            </div>

            <div class="cart-block">
                <div class="cart">
                    <a href="#">
                        <img class='cart-img' src="{% static 'main/img/cart2.png' %}">
                    </a>
                </div>

                <div class="btncart">
                    <a class='cart-item' href="#">КОРЗИНА</a>
                </div>
            </div>
        </div>

        <div class="header-down">

            <div class="header-title">
                ВКУС АРОМАТ УЮТ
                <div class="subtitle">
                    <span>КОФЕ</span>ЙНЫЙ ДВОРИК
                </div>

                <div class="description">
                    Наша кофейня – это место, где вы можете <br>расслабиться, встретиться с друзьями или поработать в <br>уютной обстановке. Мы предлагаем своим гостям <br>уютные зоны отдыха, где можно насладиться <br>вкусом кофе и приятной музыкой.
                </div>
                <div class="headerd-bth">
                    <a href="#" class="header-button">СДЕЛАТЬ ЗАКАЗ</a>
                </div>
            </div>


        </div>
        <div class="cards">

           СПИСОК КОФЕ ТЕСТ
            <table>
                <tr>
                    <th>Заголовок</th>
                    <th>Описание</th>
                    <th>Цена</th>
                </tr>
            {%for m in menu%}
            <tr>
                <td>{{m.title}}</td>
                <td>{{m.description}}</td>
                <td>{{m.price}}</td>
            </tr>

            {%endfor%}
            </table>
        </div>
    </div>

</div>
<footer>
    <nav-footer>
        <a class='nav-footer-item' href="#">ФРАНШИЗА</a>
        <a class='nav-footer-item' href="#">МЕРЧ</a>
        <a class='nav-footer-item' href="#">О НАС</a>
    </nav-footer>

    <div class="logo">
        <a href="#"><img src="logo2.png" alt=""></a>
    </div>
    <div class="social">
        <a class="social-logo" href="#"><img src="{% static 'main/img/email.png' %}" alt=""><img</a>
        <a class="social-logo" href="#"><img src="{% static 'main/img/pinterest.png' %}" alt=""><img</a>
        <a class="social-logo" href="#"><img src="{% static 'main/img/fb.png' %}" alt=""><img</a>
        <a class="social-logo" href="#"><img src="{% static 'main/img/instagram.png' %}" alt=""><img</a>

    </div>
</footer>
</body>
</html>