body {
    margin: 0;
    font-family: 'Arimo', sans-serif;
    font-family: 'Open Sans', sans-serif;

}

.container {
    margin: 0px 300px;

}


.header-title{
    color: #e9e1cd;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 1000;
    font-size: 30px;

    text-align: center;
    position: absolute;
    right: 0px;
    margin-top: 120px;
}

.header-title span {
    color: #e9e1cd;
}

.subtitle{
    color: #B8860B;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 1000;
    font-size: 50px;
    margin-top: 20px;
}

.description{
    color: #B8860B;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 30px;

    margin-top: 40px;
}

.header-button{
    color: #000000;
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
    background-color: #B8860B;
    padding: 14px 28px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 200;

    position:relative;
    top:20px;

    transition: background-color 0.3s linear;
}

.header-button:hover{
    background-color: #e9e1cd;

}


.cards-holder{
    display: flex;
    justify-content: right;

}

.card{
    background-color: #201c1a;
    width: 350px;
    margin-right: 60px;
    margin-top: 650px;

    border: 1px solid #201c1a;
     box-shadow:
       0 0 0 1px #B8860B,
       0 0 0 3px #201c1a,
       0 0 0 4px #B8860B;
       border-radius: 10px;

}
.card-title{
    color: #e9e1cd;
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.card-desc{
    color: #B8860B;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    font-weight: 200;
    text-align: center;
    margin-bottom: 10px;
}





footer{
    background-image: url(../img/bg-basement.png);
    padding: 50px 0px;
    margin: 0 auto;
    text-align: center;
}

.nav-footer-item{
    color: #B8860B;
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding-left: 20px;

    transition: color 0.3s linear;
}

nav-footer a:hover{
    color: #e9e1cd;
}

.social img{
    width: 40px;
    margin-left: 40px;
    margin-bottom: 0px ;
    transition: color 0.3s linear;

}

.social img:hover{
    background: #e9e1cd;
    border-radius: 50%;
}

.logo img{
    width: 200px;
    margin-left: 40px;
    margin-bottom: 0px ;

}